*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:2rem;
    background-color: rgb(15, 7, 20);
    color: rgb(200, 196, 196);
}

.links{
    display: none;
}

.get-intouch{
    background: rgba(87, 25, 120, 0.96);
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 80%;
    margin-left: 1rem;
}

.hero-section{
    display: flex;
    flex-direction: column-reverse;
    gap:2rem;
    margin-top: 5rem;
}
.hero-section strong{
    color: rgba(87, 25, 120, 0.96);
}
.hero{
    width: 100%;
}
.hero h1{
    font-size: 2rem;
}
.hero p{
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(166, 164, 164);
}
.hero button{
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-top: 1rem;

    background: rgba(87, 25, 120, 0.96);
    color: white;
    outline: none;
    border: none;
}
.hero button:hover{
    background-color: rgba(87, 25, 120, 0.5);
}
.get-intouch:hover{
    background-color: rgba(87, 25, 120, 0.5);
}
.hero img{
    width: 100%;
}

.mywork-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}
.mywork-section h1{
    text-align: center;
    font-size: 2rem;
}
.mywork-section p{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.image-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.image-row img{
    width: 30%;
    border-radius: 5px;
}
footer{
    margin: 2rem;
    text-align: center;
    font-size: 1.1rem;
}
footer a{
    color: rgba(87, 25, 120, 0.96);
} 

/* Hamvurger menu */

.hamburger{
    position: relative;
    display: block;
    width: 40px;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    float: right;
    bottom: 2rem;
    z-index: 2;
}

.hamburger .bar, .hamburger:before, .hamburger::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-6px, -8px);
}

.hamburger.is-active .bar{
    opacity: 0;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 60%;
    height: 100vh;
    display: block;
    background-color: rgb(15, 7, 20);
    z-index: 1;
    padding-top: 8rem;
    transition: 0.4s;
}


.mobile-nav.is-active{
    left: 40%;
}

.mobile-nav a{
    display: block;
    width: 80%;
    text-align: center;
    padding: 1rem;
    margin: 0 auto 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(200, 196, 196);
}
.mobile-nav a:hover{
    color: rgba(87, 25, 120, 0.96)
}

@media screen and (min-width:768px) {
    body{
        margin:3rem;
        background-color: rgb(15, 7, 20);
        color: rgb(200, 196, 196);
    }
    
    .nav{
        display: flex;
        justify-content: center;
    }   
    
    .navbar{
        display: flex;
        justify-content: space-around;
    }
    .links{
        display: flex;
        justify-content: flex-end;
        margin-left: 9rem;
        align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
    }
    
    .links a{
        text-decoration: none;
        color: rgb(200, 196, 196);
    }
    
    .links a:hover{
        color: rgba(87, 25, 120, 0.96);
    }
    
    .get-intouch{
        background: rgba(87, 25, 120, 0.96);
        color: white;
        outline: none;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }
    
    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        gap:2rem;
        margin-top: 5rem;
    }
    .hero-section strong{
        color: rgba(87, 25, 120, 0.96);
    }
    .hero{
        width: 100%;
    }
    .hero h1{
        font-size: 3rem;
    }
    .hero p{
        font-size: 1.2rem;
        margin-top: 1rem;
        color: rgb(166, 164, 164);
    }
    .hero button{
        padding: 1rem;
        border-radius: 10px;
        font-size: 1.5rem;
        margin-top: 1rem;
    
        background: rgba(87, 25, 120, 0.96);
        color: white;
        outline: none;
        border: none;
    }
    .hero button:hover{
        background-color: rgba(87, 25, 120, 0.5);
    }
    .get-intouch:hover{
        background-color: rgba(87, 25, 120, 0.5);
    }
    .hero img{
        width: 100%;
    }
    
    .mywork-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 3rem;
    }
    .mywork-section h1{
        text-align: center;
        font-size: 3rem;
    }
    .mywork-section p{
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem;
    }
    
    .image-row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .image-row img{
        width: 30%;
        border-radius: 5px;
    }
    footer{
        margin: 2rem;
        text-align: center;
        font-size: 1.2rem;
    }
    footer a{
        color: rgba(87, 25, 120, 0.96);
    } 

}

@media screen and (min-width:980px) {
    body{
        margin:3rem;
        background-color: rgb(15, 7, 20);
        color: rgb(200, 196, 196);
    }
    
    .nav{
        display: flex;
        justify-content: center;
    }   
    
    .navbar{
        display: flex;
        justify-content: space-around;
    }
    .links{
        display: flex;
        justify-content: flex-end;
        margin-left:20rem;
        align-items: center;
        gap: 2rem;
        font-size: 1.2rem;
    }
    
    .links a{
        text-decoration: none;
        color: rgb(200, 196, 196);
    }

    .links a:hover{
        color: rgba(87, 25, 120, 0.96);
    }
    
    .get-intouch{
        background: rgba(87, 25, 120, 0.96);
        color: white;
        outline: none;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }
    
    .hero-section{
        display: flex;
        flex-direction: row;
        gap:2rem;
        margin-top: 5rem;
    }
    .hero-section strong{
        color: rgba(87, 25, 120, 0.96);
    }
    .hero{
        width: 50%;
    }
    .hero h1{
        font-size: 3rem;
    }
    .hero p{
        font-size: 1rem;
        margin-top: 1rem;
        color: rgb(166, 164, 164);
    }
    .hero button{
        padding: 10px;
        border-radius: 10px;
        font-size: 1.2rem;
        margin-top: 1rem;
    
        background: rgba(87, 25, 120, 0.96);
        color: white;
        outline: none;
        border: none;
    }
    .hero button:hover{
        background-color: rgba(87, 25, 120, 0.5);
    }
    .get-intouch:hover{
        background-color: rgba(87, 25, 120, 0.5);
    }
    .hero img{
        width: 100%;
    }
    
    .mywork-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 5rem;
    }
    .mywork-section h1{
        text-align: center;
        font-size: 3rem;
    }
    .mywork-section p{
        font-size: 1.3rem;
        text-align: center;
        margin: 2rem;
    }
    
    .image-row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .image-row img{
        width: 20%;
        border-radius: 5px;
    }
    footer{
        margin: 2rem;
        text-align: center;
        font-size: 1.2rem;
    }
    footer a{
        color: rgba(87, 25, 120, 0.96);;
    } 

}


